<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iKEDA</title>
<meta name="keywords" content="metro, free website template, beautiful grid, image grid menu, colorful theme" />
<meta name="description" content="Metro is a free website template by templatemo.com and it features jQuery horizontal scrolling among pages." />

	<link href="../static/css/ikeda_mysql.css" type="text/css" rel="stylesheet" /> 
	

</head> 
<body> 
<div id="templatemo_header">
    
      <h1>iKEDA</h1>
	  
</div>


<div id="mysql_test">

<form action="/shuju.html" method="post">
  <p>host:<input type="text" name="id1"/> user:<input type="text" name="id2" />passwd:<input type="text" name="id3" />db:<input type="text" name="id4" />  </p>
  <input class="get" type="submit" value="提交"  />
  <a href="shuju.html"></a>
</form>
</div>


</body> 

</html>